@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Banner{
    display: flex;
    flex-direction: row;
    align-self:center;
    font-family: 'Pacifico' , cursive;
}
.Banner-item {
    padding: 1rem;
    max-width: 50%;
}

.Banner-item img{
    padding: 1rem;
    max-width: 100%;
    
}

.Banner-item img:hover{
    padding: 1rem;
    max-width: 100%;
    box-shadow: 2px 5px 7px black;
}