@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.footer{
    background-color :#ff7f50;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.item{
    flex-direction: column;
    color: #fff;
    font-family: 'Itim', cursive;
}
.item a{
    text-decoration: none;
    color: blanchedalmond;
}
.item a:hover{
    color: burlywood;
}